name: Publish Release to GitHub Packages

on:
  release:
    types: [published]

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.x.x

    - name: Build and strong name
      run: dotnet build --configuration Release --no-incremental -p:version=${GITHUB_REF#refs/*/v} -p:SignAssembly=true -p:AssemblyOriginatorKeyFile=../key.snk

    - name: Pack SDK
      run: dotnet pack -p:version=${GITHUB_REF#refs/*/v} -o ./publish

    - name: Publish to GitHub Packages
      run: dotnet nuget push ./publish/*.nupkg --skip-duplicate
      env:
        NUGET_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
